.countDay {
  margin-top: 50px;
  text-align: center;
}

.saleimg {
  width: 500px;
  height: 500px;
}

.title {
  font-size: xxx-large;
  font-weight: bold;
  color: rgba(216, 16, 16, 0.848);
}
.count {
  font-size: xxx-large;
  font-weight: bold;
}
.end {
  color: rgba(0, 0, 0, 0.308);
  font-size: x-large;
}
.text {
  color: rgba(0, 0, 0, 0.308);
  font-size: x-large;
}
