.title {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}
.subTitle {
  text-align: center;
  font-size: large;
  margin-bottom: 1%;
}

.saleimg {
  width: 500px;
  height: 500px;
}
.endimg {
  width: 470px;
  height: 500px;
  filter: brightness(60%);
}
.title {
  font-size: xxx-large;
  font-weight: bold;
  color: rgba(216, 16, 16, 0.848);
}
.count {
  /* font-size: 410%; */
  /* background-size: 60%; */

  /* background-image: url(../img/time.png); */
  /* background-position-x: 50%;
  background-position-y: 54%; */
  font-size: xxx-large;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  padding: 0 15px;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.782);
  border-radius: 25px;
  margin-bottom: 1%;
  /* 
  background-repeat: no-repeat;
  background-size: 29.5%; */
}
.end {
  color: rgba(0, 0, 0, 0.404);
  font-size: x-large;
}
.text {
  color: rgba(0, 0, 0, 0.308);
  font-size: x-large;
}

.sale {
  width: 350px;
  height: 150px;
}

.set {
  text-align: center;
}
.count {
  margin-top: -10px;
}

.wrapp {
  text-align: center;
  margin: 30px auto 0;
}
