.title {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}
.subTitle {
  text-align: center;
  font-size: large;
}

.saleimg {
  width: 500px;
  height: 500px;
}
.endimg {
  width: 470px;
  height: 500px;
  filter: brightness(60%);
}
.title {
  font-size: xxx-large;
  font-weight: bold;
  color: rgba(216, 16, 16, 0.848);
}
.count {
  font-size: 81px;
  font-weight: bold;
  background-image: url(../img/time.png);
  background-position-x: 50%;
  background-position-y: 55%;

  background-repeat: no-repeat;
  background-size: 18%;
  color: white;
}
.end {
  color: rgba(0, 0, 0, 0.404);
  font-size: x-large;
}
.text {
  color: rgba(0, 0, 0, 0.308);
  font-size: x-large;
}

.sale {
  width: 350px;
  height: 150px;
}

.set {
  text-align: center;
}
.count {
  margin-top: -10px;
}

.wrapp {
  text-align: center;
  margin: 30px auto 0;
}
