.container {
  display: flex;
  flex-direction: column;
  margin: 15%;
}

.wrapped {
  border-radius: 25px;
  border: 1px solid grey;
  height: 80%;
  width: 30%;
  margin: 12% auto;
  position: relative;
}

.joinbtn {
  margin-top: 5%;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.144);
  color: rgba(0, 0, 0, 0.712);
}
.joinbtn:hover {
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
}

/* input {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 70%;
  position: absolute;
} */

.email1 {
  margin-top: 5%;
}

.ok {
  color: black;
}
.ok > .agreeBox {
  height: 15px;
  width: 10px;
}
.choice > .women {
  height: 13px;
  width: 10px;
}
.choice > .men {
  height: 13px;
  width: 10px;
}

.email2 {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 70%;
  position: absolute;
}
.name2 {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 70%;
  position: absolute;
}

.checkpass2 {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 70%;
  position: absolute;
}
.repass2 {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 70%;
  position: absolute;
}
