.title {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}
.subTitle {
  text-align: center;
  margin-bottom: 2%;
  font-size: large;
}

.mainImg {
  margin-top: 15%;
  width: 350px;
  height: 370px;
  margin: 0px auto;
  z-index: -15;
}
.mainImg > .info {
  text-align: center;
  font-size: large;
}
.mainImg > .price {
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

.mainSlick {
}
.left {
  z-index: 10;
  height: 370px;
  width: 60px;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0%;
  color: #16053f81;
  /* background-color: rgba(0, 0, 0, 0.082); */
  cursor: pointer;
}
.right {
  z-index: 10;
  height: 370px;
  width: 60px;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0%;
  color: #16053f81;
  /* background-color: rgba(0, 0, 0, 0.082); */
  cursor: pointer;
}
.left:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.336);
}
.right:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.336);
}
