.bar {
  display: flex;
  position: absolute;
  top: 0;
  /* padding: 10px;
  padding-top: 25px; */
  height: 95px;
  width: 100%;
  list-style-type: none;
  /* background-color: #ecdbdba1; */
  background-color: rgba(207, 204, 204, 0.315);
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.wrapped {
  width: 90%;
  display: flex;
  color: rgba(0, 0, 0, 0.651);
  padding-left: 10%;

  justify-content: space-between;
}

div > a {
  text-decoration: none;
  color: inherit;
}

.other {
  display: flex;
  flex-direction: row;
  width: 270px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
